@model MovieViewModel

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="content-wrapper">
	<div class="col-md-8 offset-2">

		<form asp-action="Create" asp-controller="Movie" method="Post">
			@Html.AntiForgeryToken()
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>


			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<textarea asp-for="Description" class="form-control" rows="3"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-class mt-2">
						<label class="fw-bold">Image Preview:</label>
						<img id="imagepreview" class="image-fluid mx-4" style="width: 200px; height: 300px; ; object-fit: cover;"/>
			 </div>
			<div class="form-group">
				<label asp-for="ImageURL" class="control-label"></label>
				<input asp-for="ImageURL" class="form-control" />
				<span asp-validation-for="ImageURL" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label"></label>
				<input asp-for="StartDate" value="@Model.StartDate.ToString("dd MMM, yyyy")" class="form-control"/>
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EndDate" class="control-label"></label>
				<input asp-for="EndDate" value="@Model.StartDate.ToString("dd MMM, yyyy")" class="form-control" />
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MovieCategory" class="control-label"></label>
				<select asp-for="MovieCategory" asp-items="Html.GetEnumSelectList<MovieCategory>()" class="form-control">
					<option value="">Select Category</option>
				</select>
				<span asp-validation-for="MovieCategory" class="text-danger"></span>
			</div>
			<div class="form-group" >
			@* <label asp-for="ActorId" class="control-label"></label>
                <select asp-for="ActorId" asp-items=@Model.Actors class="form-control" multiple="multiple" ></select>
                <span asp-validation-for="ActorId" class="text-danger"></span> *@

				@* <label asp-for="ActorId" class="control-label">Actors</label>
				<div style="column-count:3;">
					@foreach (var actor in Model.Actors)
					{

								<div class="form-check">
							  <input class="form-check-input" type="checkbox" name="ActorId" value="@actor.Value" >
							  <label class="form-check-label" for="flexCheckDefault">
								@actor.Text
							  </label>
							</div>
					}
				</div> *@

				<label class="control-label">Actors</label>
<div style="column-count: 2;">
					@foreach (var actor in Model.Actors)
					{
			<div class="form-check">
				<input class="form-check-input"
					   type="checkbox"
					   name="ActorId"
					   value="@actor.Value"
					   id="actor_@actor.Value" />
				<label class="form-check-label" for="actor_@actor.Value">
								@actor.Text
				</label>
			</div>
					}
</div>






			</div>
			<div class="form-group">
				<label asp-for="CinemaId" class="control-label"></label>
				<select asp-for="CinemaId" asp-items=@Model.Cinemas class="form-control" >
					<option value="">Select Cinema</option>
				</select>
				<span asp-validation-for="CinemaId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProducerId" class="control-label"></label>
				<select asp-for="ProducerId" asp-items="@Model.Producers"  class="form-control" >
					<option value="">Select Producer</option>
				</select>
				<span asp-validation-for="ProducerId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" asp-action="Create" asp-controller="Movie" class="btn btn-primary" />
			</div>
		</form>


		
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
				<script>
						 $(document).ready(function () {
								var output = document.getElementById('imagepreview');
							output.src = $("#ImageURL").val();
						})

						$("#ImageURL").on("change", function () {
								var output = document.getElementById('imagepreview');
							output.src = $(this).val();
						})

				</script>			
}