@model Movie
@{
    ViewData["Title"] = "Movie Details";
}


<div class="row mt-5">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-primary">
                        <p class="card-text">
                            @*  <div>
                                <h5 class="card-title">
                                    @Model.Name
                            </h5>
                             <a class="text-white float-end" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            </div> *@

                            <div>
                                <h5 class="card-title">
                                    @Model.Name
                                    @if (User.IsInRole("Admin"))
                                    {
                                            <a class="text-white float-end mx-2" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id" style="color:red;">
                                   <i class="fa-solid fa-trash" style="color:red;"></i>
                                </a>
                                <a class="text-white float-end mx-2" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a> 
                                    }
                                   
                          
                        </h5>
                    </div>




                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Cinema: </b>
                            <a asp-controller="Cinemas" style="text-decoration: none; color: black;" asp-action="Details" asp-route-id="@Model.CinemaId">
                                @Model.Cinema.Name
                            </a>

                        </p>
                        <p class="card-text">
                            <b>Producer: </b>
                            <a asp-controller="Producers" style="text-decoration: none; color: black;" asp-action="Details" asp-route-id="@Model.ProducerId">
                                @Model.Producer.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.MovieCategory</p>
                        <p class="card-text"><b>Start Date: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>End Date: </b>@Model.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text ">
                            <b>Status: </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                            }
                            else
                            {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                            }
                        </p>
                        <p class="card-text">
                            <b>Actors: </b>
                            <hr />
                            @* <div class="row">
                                @foreach (var actor in Model.Actors_Movies)
                                {
                                            <div class="col-auto text-center mb-3">
                                                        <a asp-controller="Actor" style="text-decoration: none; color: black;" asp-action="Details"  asp-route-id="@actor.ActorId">  <img class="border-info rounded-circle" src="@actor.Actor.ProfilePictureURL" style="width: 75px; height: 75px; ; object-fit: cover;"/></a>   
                                              
                                                <br />
                                                    <a asp-controller="Actor" style="text-decoration: none; color: black;" asp-action="Details"  asp-route-id="@actor.ActorId">@actor.Actor.FullName</a>
                                            </div>

                                
                                        
                                }
                            </div> *@

                            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-3">
                                @foreach (var actor in Model.Actors_Movies)
                                {
            <div class="col text-center">
                <a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.ActorId" asp-route-movieId="@Model.Id" style="text-decoration: none; color: black;">
                    <img class="border-info rounded-circle" src="@actor.Actor.ProfilePictureURL" style="width: 75px; height: 75px; object-fit: cover;" />
                    <br />
                                            @actor.Actor.FullName
                </a>
            </div>
                                }
</div>

                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            
                            @*<a class="btn btn-success text-white  @((DateTime.Now > Model.EndDate) ? "disabled" : "") float-end" 
                               asp-controller="Orders" 
                               asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="fa-solid fa-cart-plus"></i> Add to Cart (Price NRs. @Model.Price)</a> *@
                              
                            @if (DateTime.Now <= Model.EndDate)
                            {
                    <form asp-controller="Cart" asp-action="AddToCart" method="post" class="d-inline">
                        <input type="hidden" name="movieId" value="@Model.Id" />
                        <button type="submit" class="btn btn-success  text-white float-end">
                            <i class="fa-solid fa-cart-plus"></i> Add to Cart (Price: NRs. @Model.Price.ToString("N2")
                        </button>
                    </form>
                            }
                            else
                            {
                    <a class="btn btn-secondary text-white float-end disabled" href="javascript:void(0);">
                        <i class="fa-solid fa-cart-plus"></i> Offer Expired
                    </a>
                            }
                             <a class="btn btn-outline-primary" asp-action="Index">
                               <i class="fa-solid fa-arrow-left"></i> Back to List
                            </a>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>