@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Movies";
}

<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
<style>
    .clamp-4-lines {
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
@if (TempData["CreateMessage"] != null)
{
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <strong>Success!</strong> @TempData["CreateMessage"]
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
}
@if (TempData["EditMessage"] != null)
{
                                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                      <strong>Success!</strong> @TempData["EditMessage"]
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
}
@if (TempData["DeleteMessage"] != null)
{

                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <strong>Success!</strong> @TempData["DeleteMessage"]
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

}
<div class="row my-5 mb-5">
    @foreach (var movie in Model)
    {
            <div class="col-md-4 d-flex col-xs-6 border-primary mb-3">
                <div class="card h-100 d-flex flex-column mb-3 w-100">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">
                                    <a class="text-white" asp-action="Details" asp-route-id="@movie.Id"> @movie.Name</a>
                       
                            <a class="text-white float-end" asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </h5>
                    </div>

                    <div class="row g-0 flex-grow-1">
                        <div class="col-md-6">
								<a class="text-white" asp-action="Details" asp-route-id="@movie.Id">
                            <img src="@movie.ImageURL" width="100%" alt="@movie.Name" />
                            </a>
                        </div>

                        <div class="col-md-6">
                                <div class="card-body d-flex flex-column h-100">
        <div class="flex-grow-1 mb-2">
            <p class="card-text clamp-4-lines">
                                    @movie.Description
            </p>
        </div>

        <div>
            <p class="card-text mb-1"><b>Cinema: </b>@movie.Cinema.Name</p>
            <p class="card-text mb-1"><b>Category: </b>@movie.MovieCategory</p>
            <p class="card-text mb-1"><b>Start Date: </b>@movie.StartDate.ToString("dd MMM, yyyy")</p>
            <p class="card-text mb-1"><b>End Date: </b>@movie.EndDate.ToString("dd MMM, yyyy")</p>
            <p class="card-text mb-0">
                <b>Status: </b>
                                    @if (DateTime.Now >= movie.StartDate && DateTime.Now <= movie.EndDate)
                                    {
                                                <span class="badge bg-success text-white" style="font-size: 0.60rem;">AVAILABLE</span>

                        @* <span class="badge bg-success text-white small">AVAILABLE</span> *@
                                    }
                                    else if (DateTime.Now > movie.EndDate)
                                    {
                                <span class="badge bg-danger text-white" style="font-size: 0.60rem;">EXPIRED</span>
                                    }
                                    else
                                    {
                                <span class="badge bg-primary text-white" style="font-size: 0.60rem;">UPCOMING</span>
                                    }
            </p>
        </div>
    </div>

                        </div>
                    </div>

                    <div class="card-footer bg-light">
                        <a class="btn btn-success btn-sm text-white @(DateTime.Now > movie.EndDate ? "disabled" : "")"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart"
                           asp-route-id="@movie.Id">
                            <i class="fa-solid fa-cart-plus"></i> Add to Cart (Price: NRs. @movie.Price)
                        </a>

                        <a class="btn btn-outline-primary btn-sm float-end"
                           asp-action="Details"
                           asp-route-id="@movie.Id">
                            <i class="fa-solid fa-circle-info"></i> Show Details
                        </a>
                    </div>
                </div>
            </div>
    }
</div>

<div style="position:fixed; bottom:65px; right:65px;">
    <a asp-action="Create" asp-controller="Movie" class="btn btn-success float-end">
        <i class="fa-solid fa-plus"></i> Add New
    </a>
</div>
