@model IEnumerable<Cinema>

@{
	ViewData["Title"] = "Cinemas";
}



<div class="row">
	<div class="col-md-8 offset-md-2">
		<h1 class="my-4" style="text-align:center;">List of Cinemas</h1>
		<table class="table">
			<thead class="table-primary">
				<tr class="text-center">
					<th>@Html.DisplayNameFor(Model=>Model.CinemaLogo)</th>
					<th>@Html.DisplayNameFor(Model=>Model.Name)</th>
					<th>@Html.DisplayNameFor(Model=>Model.Description)</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var cinema in Model)
				{
					<tr class="text-center">
						<td>
								<img class="rounded-circle" src="@cinema.CinemaLogo" alt="Cinema Logo" style="width: 100px;height: 100px;" />
						</td>
						<td>@cinema.Name</td>
						<td>@cinema.Description</td>
						<td>
								<a asp-action="Edit" asp-route-id=@cinema.Id class="btn btn-outline-primary btn-sm mx-1"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
									<a asp-action="Detail" asp-route-id="@cinema.Id" class="btn btn-outline-secondary btn-sm mx-1"><i class="fa-solid fa-circle-info"></i> Detail</a>
								<a asp-action="Delete" asp-route-id=@cinema.Id class="btn btn-outline-danger btn-sm mx-1"><i class="fa-solid fa-trash"></i> Delete</a>
						</td>
					</tr>
				}
			</tbody>
			</table>

		</div>
	</div>