@model IEnumerable<Actor>

@{
	ViewData["Title"]="Actors";
}



<div class="row">

	<div class="col-md-8 offset-md-2">
			<h1 class="my-4" style="text-align:center;">List of Actors</h1>

		<table class="table">
			<thead  class="table-primary">
				<tr>
					<th>Profile Picture URL</th>
					<th class="align-middle">@Html.DisplayNameFor(Model => Model.FullName)</th>
					<th class="align-middle">@Html.DisplayNameFor(Model => Model.Bio)</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var actor in Model)
				{
					<tr>
							<td class="align-middle">
									<img class="rounded-circle" src="@actor.ProfilePictureURL" alt="Profile Picture" style="width: 100px; height: 100px; ; object-fit: cover;" />
							</td>
								<td class="align-middle">@actor.FullName</td>
								<td class="align-middle">@actor.Bio</td>
								<td class="align-middle">
											<a asp-action="Edit" asp-route-id="@actor.Id" class="btn btn-outline-primary btn-sm mx-1"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
											<a asp-action="Detail" asp-route-id="@actor.Id" class="btn btn-outline-secondary btn-sm mx-1"><i class="fa-solid fa-circle-info"></i> Detail</a>
										<a asp-action="Delete" asp-route-id="@actor.Id" class="btn btn-outline-danger btn-sm mx-1"><i class="fa-solid fa-trash"></i> Delete</a>
							</td>
					</tr>
				}
			</tbody>
		</table>
	</div>


</div>


<div style="position:fixed; right:50px; button:50px;" class="row">
	
		<a asp-action="Create" class="btn btn-outline-success float-end"> Add New <i class="fa-solid fa-user-plus"></i></a>
</div>